{% extends 'templates/app.twig' %}

{% block content %}
<div class="wrapper">
                <div class="wrapper__form">
                    <div class="form__header"> Sign in </div>
                    <form class="form__form" method="post" action="{{ path_for('auth.signin') }}">
                        <label class="form__label" for="email">Email</label>
                        <input class="form__input{{ errors.email ? ' form__input--alert' : '' }}" type="email" name="email" id="email" placeholder="name@example.com" value="{{ old.email }}">
                        {% if errors.email %}
                        <span class="form__alert">{{ errors.email | first }}</span>
                        {% endif %}
                        <label class="form__label" for="password">Password</label>
                        <input class="form__input{{ errors.password ? ' form__input--alert' : '' }}" type="password" name="password" id="password">
                        {% if errors.password %}
                        <span class="form__alert">{{ errors.password | first }}</span>
                        {% endif %}
                        
                        <button type="submit">Sign in</button>

                        {{
                            csrf.field | raw
                        }}
                    </form>
                </div>
            </div>
{% endblock %}