{% extends 'templates/app.twig' %}

{% block content %}
<div class="wrapper">
                <div class="wrapper__form">
                    <div class="form__header"> Change password </div>
                    <form class="form__form" method="post" action="{{ path_for('auth.password.change') }}" autocomplete="off">
                        <label class="form__label" for="password_old">Current Password</label>
                        <input class="form__input{{ errors.password_old ? ' form__input--alert' : '' }}" type="password" name="password_old" id="password_old">
                        {% if errors.password_old %}
                        <span class="form__alert">{{ errors.password_old | first }}</span>
                        {% endif %}
                        <label class="form__label" for="password">Password</label>
                        <input class="form__input{{ errors.password ? ' form__input--alert' : '' }}" type="password" name="password" id="password">
                        {% if errors.password %}
                        <span class="form__alert">{{ errors.password | first }}</span>
                        {% endif %}
                        
                        <button type="submit">Change</button>

                        {{
                            csrf.field | raw
                        }}
                    </form>
                </div>
            </div>
{% endblock %}