{% extends 'templates/app.twig' %}

{% block content %}

<form method="post" action="{{ path_for('auth.password.change') }}" autocomplete="off">
    <div class="container_">
    <div class="box">
        <div class="box__header">
        Zmień Hasło
        </div>
        <div class="box__content">
        <div class="input_">
            <svg class="lnr lnr-user" style="color: red;"><use xlink:href="#lnr-lock"></use></svg>
            <input class="form__input{{ errors.password_old ? ' form__input--alert' : '' }}" type="password" name="password_old" id="password_old" placeholder="Obecne hasło">
            {% if errors.password_old %}
            <p class="help is-danger">{{ errors.password_old | first }}</p>
            {% endif %}
        </div>
        <div class="input_">
            <svg class="lnr lnr-user" style="color: green;"><use xlink:href="#lnr-lock"></use></svg>
            <input class="form__input{{ errors.password ? ' form__input--alert' : '' }}" type="password" name="password" id="password" placeholder="Nowe hasło">
            {% if errors.password %}
            <p class="help is-danger">{{ errors.password | first }}</p>
            {% endif %}
        </div>
        </div>
        <div class="box__footer">
            <button class="btn btn--gradient" type="submit">Zmień</button>

            {{
                csrf.field | raw
            }}
        </div>
    </div>
    </div>
</form>

{% endblock %}