{% extends 'templates/app.twig' %}

{% block content %}

    <div class="profile">
            <div class="profile__card">
                <div class="profile__top">
                    <div class="profile__avatar">
                        <img src="logo2.png" alt="+">
                        {#<input type="" name="" value="">    #}
                    </div>
                    <div class="profile__topBackground"></div>
                </div>
                {% if auth.check %}
                <div class="profile__buttons">
                    <a href="{{ path_for('modify.user') }}" class="button is-link is-outlined">Modyfikuj</a>
                </div>
                {% endif %}
                <div class="profile__details">
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Imie</header>
                        <div class="detail__content">{{ user }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Email</header>
                        <div class="detail__content">{{ email }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Nazwisko</header>
                        <div class="detail__content">{{ fullName }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Opis</header>
                        <div class="detail__content">{{ description }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Data urodzenia</header>
                        <div class="detail__content">{{ dateOfBirth }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Wiek</header>
                        <div class="detail__content">{{ age }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Miejscowość</header>
                        <div class="detail__content">{{ location }}</div>
                    </div>
                    <div class="profile__detailsGroup">
                        <header class="detail__header">Konto założone</header>
                        <div class="detail__content">{{ created_at }}</div>
                    </div>
                </div>
            </div>
        </div>

    

{% endblock %}