<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quisser</title>
        
        <link href="https://fonts.googleapis.com/css?family=Raleway|Rokkitt" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/standardize.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
        <link rel="stylesheet" href="{{ base_url() }}/css/create.css">
        <link rel="icon" href="{{ base_url() }}/images/Quisser.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <meta name="theme-color" content="#551A8B" />
        <style>
        #sortable:hover {
            cursor: pointer;
        }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        {% include 'templates/partials/navigation.twig' %}
        <div class="container_" style="justify-content: flex-start;">
            <div class="gradient"></div>
            <div id="app">
                <div class="settings">
                    <p class="is-size-4-mobile is-size-3-tablet">Ustawienia</p>
                
                    <label class="checkbox is-size-6-touch">
                        <input type="checkbox" v-model="randomizeQuestions" name="" value="">
                        Pytania losowo
                    </label>
                
            
                    <label class="checkbox">
                        <input type="checkbox" v-model="randomizeAnswers" name="" value="">
                        Odpowiedzi losowo
                    </label>
                
            
                    <label class="checkbox">
                        <input type="checkbox" v-model="multipleChoice" name="" value="">
                        Quiz wielokrotnego (domyślnie: jednokrotnego) wyboru
                    </label>
                
            
                    <label class="checkbox">
                        <input type="checkbox" v-model="slideQuestions" name="" value="">
                        Wyświetlaj po 1 pytaniu
                    </label>
                    
                </div>
                <div class="help has-text-danger is-size-4"></div>
                <header class="title">
                    <label>Tytuł Quizu</label>
                    <input type="text" v-model="quizTitle" class="quizTitle">
                </header>
                <div class="table">
                    <div id="sortable">
                        <div v-for="(row, index) in questions" class="question">
                            <div class="question-options">
                                <div><input type="text" v-model="row.title" class="q" placeholder="Pytanie"></div>
                                <div><button class="button is-info is-outlined" @click="addAnswer(index)">+ Odp</button></div>
                                <div>
                                        <span>
                                        <a v-on:click="removeElement(index);" style="cursor: pointer; " class="delete is-medium"></a>
                                        </span>
                                    <br>
                                </div>
                            </div>
                            <div class="answers">
                                <div style="flex: 2;">
                                    <div v-for="(answer, number) in questions[index].answers">
                                        <input type="text" v-model="answer.answer" placeholder="Odpowiedź" class="answer">
                                        <input type="checkbox" v-model="answer.isCorrect">
                                        <a v-on:click="removeAnswer(index, number);" style="cursor: pointer; vertical-align: middle;" class="delete is-medium"></a>
                                    </div>                         
                                </div>
                                <div class="upload">
                                    <label class="fileContainer">
                                        <div class="file is-info is-small has-name is-boxed">
                                            <label class="file-label">
                                                <input @change="setFilename($event, row)" :id="index" class="file-input" type="file" name="resume">
                                                <span class="file-cta" style="padding: 2px;">
                                                <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                                <span class="file-label">
                                                    Wybierz obraz
                                                </span>
                                                </span>
                                                <span class="file-name" style="max-width: 8em;">
                                                ${ row.file.name }
                                                </span>
                                            </label>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="body" value="{{ body }}">
                <input type="hidden" id="title" value="{{ title }}">
                <input type="hidden" id="rQ" value="{{ randQ }}">
                <input type="hidden" id="rA" value="{{ randA }}">
                <input type="hidden" id="mtp" value="{{ mtp }}">
                <input type="hidden" id="slide" value="{{ slide }}">
                <input type="hidden" id="url" value="{{ url }}">
                <div>
                    <button class="button is-link btn-primary" @click="addRow">Dodaj pytanie</button>
                    <button class="button btn-primary" @click="send">Modyfikuj</button>

                    {{
                        csrf.field | raw
                    }}

                </div>
            </div>

            <script type="text/javascript">
                $( function() {
                    $( "#sortable" ).sortable({
                        scrollSpeed: 40
                    });
                    $( "#sortable" ).disableSelection();
                } );

                let parsedBody = JSON.parse(body.value);

                var app = new Vue({
                    el: "#app",
                    delimiters: ['${', '}'],
                    data: {
                        quizTitle: title.value,
                        randomizeQuestions: (rQ.value == '0') ? false : true,
                        randomizeAnswers: (rA.value == '0') ? false : true,
                        multipleChoice: (mtp.value == '0') ? false : true,
                        slideQuestions: (slide.value == '0') ? false : true,
                        questions: parsedBody
                    },
                    methods: {
                        addRow: function() {
                            var elem = document.createElement('tr');
                            this.questions.push({
                                title: "",
                                answers: [],
                                file: {
                                    name: 'Obraz'
                                }
                            });
                        },
                        addAnswer: function (index) {
                            var elem = document.createElement('td');
                            this.questions[index].answers.push({
                                answer: "",
                                isCorrect: false,

                            });
                        },
                        removeElement: function(index) {
                            this.questions.splice(index, 1);
                        },
                        removeAnswer: function(index, answer) {
                            this.questions[index].answers.splice(answer, 1);
                        },
                        setFilename: function(event, row) {
                            var file = event.target.files[0];
                            row.file = file
                        },
                        send: () => {
                            var inputs = document.querySelectorAll('input[type=text]');
                            var element = document.querySelector('.help');
                                element.style.display = 'none';
                            var flag = true;
                            element.innerHTML = '';

                            var errors = 'Uzupełnij pole ';


                            inputs.forEach(function(item, index) {
                                if (item.value == '') {
                                    errors += (index + 1) + ' ';
                                    flag = false;
                                    return;
                                } 
                            });

                            app.questions.forEach( (item, index) => {
                                if (item.answers.length == 0 ) {
                                    errors = 'Nie każde pytanie ma odpowiedź';
                                    flag = false;
                                    return;
                                }
                            })

                            if (errors != 'Uzupełnij pole ') {
                                var node = document.createTextNode(errors);
                                element.appendChild(node);
                                element.style.display = 'block';
                                errors = 'Uzupełnij pole ';
                            }

                            if (app.questions.length == 0) {
                                flag = false;
                            }

                            if (flag) {
                                var pattern = JSON.stringify(app.questions);
                                $(document).ready(function() {
                                    var token =  $('input[name="csrf_value"]').attr('value');
                                    var name =  $('input[name="csrf_name"]').attr('value');
                                    
                                    var path = $('#url').attr('value');

                                    $.ajax({
                                        type: "POST",
                                        url: url,
                                        data: {
                                            csrf_name: name,
                                            csrf_value: token,
                                            pattern: pattern,
                                            path: path,
                                            randomizeAnswers: app.randomizeAnswers,
                                            randomizeQuestions: app.randomizeQuestions,
                                            multipleChoice: app.multipleChoice,
                                            slideQuestions: app.slideQuestions,
                                            quizTitle: app.quizTitle,
                                        },
                                        success: function(data) {
                                            window.location.href = 'https://www.frizcode.me/myQuizzes';
                                        }
                                    })
                                });
                            }
                        }
                    }
                });

                $('#rA').remove();
                $('#rQ').remove();
                $('#title').remove();
                $('#body').remove();
                $('#slide').remove();
                $('#mtp').remove();

            </script>
        </div>

        {% include 'templates/partials/footer.twig' %}
    </body>
</html>