{% extends 'templates/app.twig' %}

{% block content %}
{% if auth.check %}
    {#Content if user is authenticated#}

    <div class="app desktop-view">
        <div class="app__content">
            <header class="is-size-5-mobile is-size-3-tablet is-size-2">Moje Quizy</header>
            <div class="quizzes__section is-size-6-mobile is-size-4-tablet is-size-4">Stworzone Quizy</div>
            <div class="section__new">
                {% for title in created["titles"] %}
                        <div class="new__quiz">
                            <p>{{ loop.index }}</p>
                            <a class="button is-dark" href="https://www.frizcode.me/{{ created["slugs"][loop.index - 1] }}"><p>{{ title }}</p></a>
                            <strong>{{ created["created"][loop.index - 1] }}</strong>
                        </div>
                {% endfor %}
            </div>
            <div class="quizzes__section is-size-6-mobile is-size-4-tablet is-size-4">Wykonane Quizy</div>
            <div class="section__new">
                {% for title in history["titles"] %}
                        <div class="new__quiz">
                            <p>{{ loop.index }}</p>
                            <p>Autor: {{ history["authors"][loop.index - 1] }}</p>
                            <a class="button is-dark" href="https://www.frizcode.me/{{ history["slugs"][loop.index - 1] }}"><p>{{ title }}</p></a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% else %}
    {#Content if user is not authenticated#}
    <script> window.location.href = 'https://www.frizcode.me/auth/signin'; </script>
    :(
{% endif %}
{% endblock %}