<header class="wrapper__header">
                <a class="header__title" href="{{ path_for('home') }}">Quisser</a>
                {% if auth.check %}
                <nav class="header__userNavigation">
                    <div class="dropdown" style="float:right;">
                        <button class="dropbtn">{{ auth.user.name }}</button>
                        <span class="caret"></span>
                            <div class="dropdown-content">
                                <a href="/{{ auth.user.name }}">View profile</a>
                                <a href="{{ path_for('auth.password.change') }}">Change password</a>
                                <a href="{{ path_for('auth.signout') }}">Sign out</a>
                            </div>
                    </div>
                </nav>
                {% else %}
                <nav class="header__navigation">
                    <ul class="header__navigationList">
                        <li class="navigation__item"><a href="{{ path_for('auth.signin') }}">Sign in</a></li>
                        <li class="navigation__item"><a href="{{ path_for('auth.signup') }}">Sign up</a></li>
                    </ul>
                </nav>
                {% endif %}
            </header>